.common{
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: blanchedalmond;
}

.header{
    background-color: black;
    color: antiquewhite;
    padding: 20px;
    text-align: center;
}

h1{
    color: rgb(105, 57, 2);
    text-decoration: underline;
}

h2{
    color: black;
}

h3{
    color: rgb(105, 57, 2);
}